@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
html {
    background-color: #011936;
}

body {
    background-image: url(../../brushed.png);
    min-height: 100vh;
    padding-bottom: 0.1vh;
}

header {
    background-color: #011936;
    width: 100%;
}

.navbar-brand {
    font-size: 3.2vw;
    font-family: 'Hoefler Text', Times, serif;
    font-weight: bold;
    letter-spacing: .05em;
    background-color: #011936;
    margin: 0;
    padding-top: .7em;
    padding-bottom: .5em;
}

.navbar-brand img {
    height: 5vw;
}

.logo-name {
    color: #F0F7EE;
    font-size: 4.5vw;
    height: 5vw;
    vertical-align: bottom;
    font-family: Staatliches;
    font-weight: bold;
}

.nav-link {
    color: #F0F7EE;
    font-size: 2vw;
    transition-duration: .08s;
}

.nav-link:hover {
    color: #F0F7EE;
    transform: translate(0, -.3em)
}

.navbar-nav {
    position: absolute;
    right: 2vw;
}

.hr-header {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: -6px;
    left: 0;
    border: 3px solid rgb(70, 83, 98);
    margin: 0;
    padding: 0;
}

main {
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 7px 6px 19px -3px;
    -moz-box-shadow: 7px 6px 19px -3px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 7px 6px 19px -3px;
    margin-bottom: 100px;
}

h1 {
    font-family: Staatliches, sans-serif;
    font-size: 5.5vw;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    color: #F0F7EE;
}

.project-title {
    font-family: Source Sans Pro, sans-serif;
    font-weight: bold;
}

.btn-dark {
    font-size: 1.4vw;
    background-color: black;
}

.btn-dark {
    background-color: rgb(12, 12, 12);
}

.btn-green {
    font-size: 1.4vw;
    background-color: #5C7457;
    color: #F0F7EE;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-green:hover {
    background-color: #658060;
    color: #F0F7EE;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 0;
    z-index: 20;
}

footer .container-fluid {
    padding: 0;
    background-color: rgb(1, 25, 54);
    width: 100%;
}

.hr-footer {
    border: 3px solid rgb(70, 83, 98);
    margin: 0;
    padding: 0;
}

footer p {
    color: rgb(240, 247, 238);
    margin: 0;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .navbar {
        padding: 0;
    }
}